doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header 
            h1 Zoom
        main    
            div#welcome
                fieldset
                    legend Room name
                    form
                        input(placeholder="room name", require, type="text")
                        button Enter Room
            div#room
                ul
                fieldset
                    legend Message
                    form#name
                        input(placeholder="nickname", require, type="text")
                        button Save
                    form#msg
                        input(placeholder="message", require, type="text")
                        button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")